body{
    width: 500px;
  margin: 5% auto;
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing: 5px;
  font-size: 1.8rem;
    
}
.cal
{
  padding: 40px;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  user-select: none;
  outline: none;
}
.input {
    border: 1px solid #ddd;
    border-radius: 1px;
    height: 60px;
    padding-right: 15px;
    padding-top: 10px;
    text-align: right;
    margin-right: 6px;
    font-size: 2.5rem;
    overflow-x: auto;
    transition: all .2s ease-in-out;
  }
  .input:hover
  {
    border: 1px solid #bbb;
  box-shadow: inset  0px 1px 10px 10px rgba(147, 46, 46, 0.2);
  
  }
  .buttons
  {}
  .operators{

  }
  .operators div {
    display: inline-block;
    border: 1px solid #180e0e;
    border-radius: 1px;
    width: 65px;
    text-align: center;
      padding: 12px;
    margin: 20px 4px 10px 0;
    cursor: pointer;
    background-color: #ddd;
    transition: border-color .2s ease-in-out, background-color .2s, box-shadow .2s;
  }
  .operators div:hover{
    border: 1px solid #bbb;
  box-shadow: inset  0px 1px 10px 10px rgba(147, 46, 46, 0.2);

  }.operators :active{
    font-weight: bold;
  }
  .numbers div:hover
  {
    border: 1px solid #bbb;
  box-shadow: inset  0px 1px 10px 10px rgba(147, 46, 46, 0.2);
  }
  .numbers div:active{
    font-weight: bold;
  }
  .left{
    display:inline-block;
  }
  .numbers div
  {
    display: inline-block;
    border: 1px solid #180e0e;
    border-radius: 1px;
    width: 65px;
    text-align: center;
      padding: 12px;
    margin: 0px 4px 10px 0;
    cursor: pointer;
    background-color: #ddd;
    transition: border-color .2s ease-in-out, background-color .2s, box-shadow .2s;
  }
  .equal
  {
    display: inline-block;
    vertical-align: top;
    border: 1px solid #180e0e;
    border-radius: 1px;
    width: 15%;
    padding: 114px 10px;
    text-align: center;
    vertical-align: top;
    
    margin: 0px 10px 10px 0;
    cursor: pointer;
    background-color: #ddd;
    background-color: rgb(158, 158, 242);
    transition: border-color .2s ease-in-out, background-color .2s, box-shadow .2s;
  }

  .equal:hover{
    border: 1px solid #bbb;
  box-shadow: inset  0px 1px 10px 10px rgba(147, 46, 46, 0.2);
  }
  .equal:active{
font-weight: bolder;
  }